<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Our Team</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="/static/Join_page.css">
</head>
<body>

<div class="wrapper">
    <h1>Our Team</h1>
    <div class="our_team">
        <div class="team_member">
          <div class="member_img">
             <img src="/static/def.jpg" alt="our_team">
          </div>
          <a href="https://www.linkedin.com/in/piyush-bhuyan-216445230/"><h3>Piyush Bhuyan</h3></a>
          <span>1602-21-737-014</span>
        </div>

        <div class="team_member">
            <div class="member_img">
               <img src="/static/def.jpg" alt="our_team"> 
            </div>
            <a href="https://www.linkedin.com/in/v-k-s-srinivas"> <h3>V Krishna Srinivas</h3></a>
            <span>1602-21-737-026</span>
        </div>


        <div class="team_member">
            <div class="member_img">
               <img src="/static/def.jpg" alt="our_team"> 
            </div>
            <a href="https://www.linkedin.com/in/bollam-dinesh-4b8b6a263"> <h3>B Dinesh</h3></a>
            <span>1602-21-737-305</span>
        </div>




       
    </div>
</div>	

</body>
</html>